<h1>Ask a question for your Coach</h1> <br> <br> <br>
<form action="/answer" data-turbo="false" methode="get" class="form-control">
  <input type="text" name="question">
  <input type="submit" value="Ask!" >
</form>
